################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.kiro
/.vs
/DataWarehousePower/bin
/DataWarehousePower/obj
