################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.kiro
/.vs
/DataWarehousePower/bin
/DataWarehousePower/obj
/.vscode
/DataWarehousePower/Properties/PublishProfiles
/DataWarehousePower/DataWarehousePower.csproj.user
